[submodule "deps/Cinder-3DConnexion"]
	path = deps/Cinder-3DConnexion
	url = https://github.com/heisters/Cinder-3DConnexion.git
[submodule "deps/Watchdog"]
	path = deps/Watchdog
	url = https://github.com/simongeilfus/Watchdog.git
